<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Start your development with Meyawo landing page.">
	<meta name="author" content="Devcrud">
	<title>Sergio Suárez blog</title>
	<!-- font icons -->
	<link rel="stylesheet" th:href="@{vendors/themify-icons/css/themify-icons.css}">
	<!-- Bootstrap + Meyawo main styles -->
	<link rel="stylesheet" th:href="@{css/meyawo.css}">
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

<!-- Page Navbar -->
<nav class="custom-navbar" data-spy="affix" data-offset-top="20">
	<div class="container">
		<ul class="nav">
			<li class="item">
				<a class="link" href="#home">Home</a>
			</li>
			<li class="item">
				<a class="link" href="#about">Sobre mi</a>
			</li>
			<li class="item">
				<a class="link" href="#portfolio">Portafolio</a>
			</li>
			<li class="item">
				<a class="link" href="#contact">Contacto</a>
			</li>
		</ul>
		<a href="javascript:void(0)" id="nav-toggle" class="hamburger hamburger--elastic">
			<div class="hamburger-box">
				<div class="hamburger-inner"></div>
			</div>
		</a>
	</div>
</nav><!-- End of Page Navbar -->

<!-- page header -->
<header id="home" class="header">
	<div class="overlay"></div>
	<div class="header-content container">
		<h1 class="header-title">
			<span class="up">Bienvenido!</span>
			<span class="down">Sergio Suárez</span>
		</h1>
		<p class="header-subtitle">DESARROLLADOR BACKEND</p>
	
	</div>
</header><!-- end of page header -->

<!-- about section -->
<section class="section pt-0" id="about">
	<!-- container -->
	<div class="container text-center">
		<!-- about wrapper -->
		<div class="about">
			<div class="about-img-holder">
				<img src="imgs/photo.jpg" class="about-img"
				     alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, meyawo Landing page">
			</div>
			<div class="about-caption">
				<h2 class="section-title mb-3">Sobre mi</h2>
				<p>
					Tras estudiar Administración y Finanzas, rápidamente me di cuenta de que no
					terminaba de llenarme.<br>
					Aunque me gustaba la contabilidad y las matemáticas financieras,
					buscaba un desafío que además de gustarme, me hiciera crecer como persona y como profesional. <br>
					Un día se me ocurrió hacer un curso de Java en YouTube y el resto es historia...
				</p>
				<!--<button class="btn-rounded btn btn-outline-primary mt-4">Download CV</button>-->
			</div>
		</div><!-- end of about wrapper -->
	</div><!-- end of container -->
</section> <!-- end of about section -->

<!-- service section -->
<section class="section" id="service">
	<div class="container text-center">
		<h6 class="section-title mb-6">Lenguajes y herramientas</h6>
		
		<!-- row -->
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="service-card">
					<div class="body">
						<img src="imgs/java-icon.svg"
						     alt=""
						     class="icon">
						<h6 class="title">Java</h6>
						<p class="subtitle">Desarrollo soluciones eficientes utilizando el conocido lenguaje de
							programación Java</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="service-card">
					<div class="body">
						<img src="imgs/springio-icon.svg"
						     alt=""
						     class="icon">
						<h6 class="title">Spring Framework</h6>
						<p class="subtitle">Desarrollo aplicaciones utilizando Spring, tanto en
							arquitectura monolítica con MVC como en microservicios</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="service-card">
					<div class="body">
						<img src="imgs/mysql-icon.svg"
						     alt=""
						     class="icon">
						<h6 class="title">MySQL</h6>
						<p class="subtitle">Administro bases de datos MySQL para almacenamiento
							y gestión eficiente de datos.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="service-card">
					<div class="body">
						<img src="imgs/docker-icon.svg"
						     alt=""
						     class="icon">
						<h6 class="title">Docker</h6>
						<p class="subtitle">Utilizo Docker para crear entornos de desarrollo y despliegue eficientes </p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="service-card">
					<div class="body">
						<img src="imgs/getpostman-icon.svg"
						     alt=""
						     class="icon">
						<h6 class="title">Postman</h6>
						<p class="subtitle">Utilizo Postman para probar y depurar APIs de manera eficiente </p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="service-card">
					<div class="body">
						<img src="imgs/jetbrains-icon.svg"
						     alt=""
						     class="icon">
						<h6 class="title">Intellij IDEA</h6>
						<p class="subtitle">Trabajo con IntelliJ IDEA para desarrollar software de manera eficiente y
							efectiva
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="service-card">
					<div class="body">
						<img src="imgs/json-icon.svg"
						     alt=""
						     class="icon">
						<h6 class="title">JSON</h6>
						<p class="subtitle">Trabajo con JSON para intercambiar datos de manera eficiente y estructurada
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-lg-3">
				<div class="service-card">
					<div class="body">
						<img src="imgs/php-icon.svg"
						     alt=""
						     class="icon">
						<h6 class="title">PHP</h6>
						<p class="subtitle">En menor medida, tambien puedo trabajar con PHP
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!-- end of service section -->

<!-- portfolio section -->
<section class="section" id="portfolio">
	<div class="container text-center">
		<h6 class="section-title mb-6">Portafolio</h6>
		<!-- row -->
		<div class="row">
			<div class="col-md-4">
				<a  class="portfolio-card">
					<img src="imgs/Captura1.png" class="portfolio-card-img"
					     alt="" width="10" height="20">
					<span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h4>GymApp</h4>
                                    <p class="font-weight-normal">Aplicación para crear rutinas deportivas</p>
                            </span>
                        </span>
				</a>
			</div>
			<div class="col-md-4">
				<a class="portfolio-card">
					<img class="portfolio-card-img" src="imgs/Captura2.png"
					     alt="">
					<span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h5>Blog</h5>
                                    <p class="font-weight-normal">Pequeño blog para publicar noticias</p>
                            </span>
                        </span>
				</a>
			</div>
			<div class="col-md-4">
				<a  class="portfolio-card">
					<img class="portfolio-card-img" src="imgs/Captura3.png"
					     alt="">
					<span class="portfolio-card-overlay">
                            <span class="portfolio-card-caption">
                                <h5>Ecommerce</h5>
                                    <p class="font-weight-normal">Ecommerce creado con Spring MVC</p>
                            </span>
                        </span>
				</a>
			</div>
		</div><!-- end of row -->
	</div><!-- end of container -->
</section> <!-- end of portfolio section -->


<!-- section -->
<section class="section-sm bg-primary">
	<!-- container -->
	<div class="container text-center text-sm-left">
		<!-- row -->
		<div class="row align-items-center">
			<div class="col-sm offset-md-1 mb-4 mb-md-0">
				<h6 class="title text-light"></h6>
				<p class="m-0 text-light"></p>
			</div>
		</div> <!-- end of row -->
	</div> <!-- end of container -->
</section> <!-- end of section -->


<!-- contact section -->
<section class="section" id="contact">
	<div class="container text-center">
		<h6 class="section-title mb-5">Contacto</h6>
		<!-- contact form -->
		<form th:action="@{/send}" class="contact-form col-md-10 col-lg-8 m-auto">
			<div class="form-row">
				<div class="form-group col-sm-6">
					<input name="name" type="text" size="30" class="form-control" placeholder="Tu nombre" required>
				</div>
				<div class="form-group col-sm-6">
					<input name="from" type="email" size="50" class="form-control" placeholder="Tu email" requried>
				</div>
				<div class="form-group col-sm-12">
                        <textarea name="text" id="text" rows="6" class="form-control"></textarea>
				</div>
				<div class="form-group col-sm-12 mt-3">
					<input type="submit" value="Enviar" class="btn btn-outline-primary rounded">
				</div>
			</div>
		</form><!-- end of contact form -->
	</div><!-- end of container -->
</section><!-- end of contact section -->

<!-- footer -->
<div class="container">
	<footer class="footer">
		<p class="mb-0">Copyright
			<script>document.write(new Date().getFullYear())</script> &copy;
		</p>
		<div class="social-links text-right m-auto ml-sm-auto">
			<a href="https://es.linkedin.com/in/sergio-pi%C3%B1eiro-suarez" class="link"><i class="ti-linkedin"></i></a>
			<a href="https://github.com/SerPS92" class="link"><i class="ti-github"></i></a>
		</div>
	</footer>
</div> <!-- end of page footer -->

<!-- core  -->

<script th:src="@{vendors/jquery/jquery-3.4.1.js}"></script>
<script th:src="@{vendors/bootstrap/bootstrap.bundle.js}"></script>

<!-- bootstrap 3 affix -->
<script th:src="@{vendors/bootstrap/bootstrap.affix.js}"></script>

<!-- Meyawo js -->
<script th:src="@{js/meyawo.js}"></script>

</body>

</html>